# docker-compose.yml
version: "3"
services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "5000:5000"

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
